/*media queries*/
@media (max-width: 767px){
  .navbar-brand {
    display: none;
  }
}

body {
  background-color: #212C48;
}

p, h1, h2, h3, h4, h5, article, li {
  color: #FFF;
}
h1, h2, h3, h4, h5 {
  font-family: 'Abril Fatface', cursive;
}

p, li, article {
  font-family: 'Open Sans', sans-serif;
}

.button:focus, .button:active {
  outline: none !important;
}

.button, .button:focus {
  font-family: 'Ubuntu', sans-serif;
  background-color: #444D65;
  color: #000;
}

.button:hover {
  color: #0A142E;
}


/*NAVBAR STYLES*/
.container-fluid, .navbar {
  background-color: #0A142E;
  border-color: #444D65;
}

.navbar {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.navbar-brand {
  cursor: default;
  outline: none;
}

.navbar .nav li a, .navbar .navbar-brand,.navbar .nav li a:visited, .navbar .navbar-brand:visited {
  color: #FFF;
  outline: none;
}
.navbar .nav li a:hover, .navbar .navbar-brand:hover, .navbar .nav li a::after, .navbar .nav li a:active{
  color: #CCC;
  outline: none;
}

.navbar .nav li.dropdown.open > a:focus{
  background-color: #364364;
}
.navbar .nav .dropdown ul{
  background-color: #031444;
}
.navbar .nav .dropdown li a:hover {
  background-color: #061F5F;
}

#portrait {
  max-width: 50%;
}
